

aside{
    position: fixed;
  left: 0;
  top: 0;
  width: 20% ; 
  height: 100vh;
    background: #4D44B5;
    color: #fff;
    padding: 0.3em 0 4em 2em;
    .links {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        a{
            padding: 0.7em;
            display: flex;
            gap: 0.6em;
            align-items: center;
            color: #C1BBEB;
            font-family: Poppins;
            font-weight: 500;
            font-size: 18px;
            line-height: 27px;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
        }
        a.active{
            color: #4D44B5;
            background: #D8EDF7;
        }
    }
}