.teacherById-page {
  .header_ {
    .heading_top {
      color: #303972;
      font-family: Poppins;
      font-weight: 700;
      font-size: 36px;
      line-height: 54px;
    }
    .right {
      align-items: center;
      padding: 1em 0.5em 0;
      .bell_icon {
        cursor: pointer;
        font-size: 19px;
      }
      .setting_icon {
        cursor: pointer;
        font-size: 19px;
      }
      .title {
        .name {
          color: #303972;
          font-family: Poppins;
          font-weight: 600;
          font-size: 14px;
          line-height: 21px;
        }
        .who {
          color: #a098ae;
          font-family: Poppins;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
        }
      }
      .profile_img {
        width: 45px;
        border-radius: 45px;
      }
    }
  }

  section.data-box {
    margin-top: 2em;
    background: #ffffff;
    border-radius: 20px;
    padding-bottom: 2.7em;
    .top {
      border-radius: 20px 20px 0 0;
      background: #4d44b5;
      padding: 0.8em 0.9em;
      h3.headings {
        color: #ffffff;
        font-family: Poppins;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
      }
    }
    .info_box {
      padding: 0.5em;
      margin-top: 2em;
      .first {
        .user_img {
          width: 30%;
          border-radius: 351px;
        }
        .right_box {
          background: #f5f5f5;
          border-radius: 20px;
          border: 1px solid #000000;
          .createdAt {
            float: right;
          }
          .name_id {
            margin-top: 1.3em;
            .name {
              color: #303972;
              font-family: Poppins;
              font-weight: 700;
              font-size: 31px;
              line-height: 40px;
            }
            ._id {
              color: #4d44b5;
              font-family: Poppins;
              font-weight: 700;
              font-size: 22px;
              line-height: 37.5px;
            }
          }
          .age {
            color: #303972;
            font-family: Poppins;
            font-weight: 700;
            font-size: 31px;
            line-height: 40px;
          }
          .gender_gmail {
            margin-top: 0.5em;
            .gender {
              color: #303972;
              font-family: Poppins;
              font-weight: 700;
              font-size: 31px;
              line-height: 40px;
            }
            .gmail{
                color: #303972;
                font-family: Poppins;
                font-weight: 700;
                font-size: 21px;
                line-height: 30px;
            }
          }
          .bottom{
            .item{
                img{
                    width: 46px;
                    height: 46px;
                    border-radius: 40px;
                }
                .txts{
                    display: flex;
                    font-family: Poppins;
                    font-weight: 400;
                    flex-direction: column;
                    font-size: 18px;
                    gap: 2px;
                    line-height: 35px;
                    .cat{
                        color: #A098AE;
                    }
                    .num{
                        color: #303972;
                    }
                }
            }
          }
        }
      }
      .second_desc{
        border: 1px solid #C1BBEB;
        background: #F5F5F5;
        border-radius: 20px;
        color: #A098AE;
        font-family: Poppins;
        font-weight: 700;
        font-size: 19px;
        line-height: 30px;
        padding: 0.4em;
      }
    }
    .bottom{
        padding: 1em 1.6em;
        .btns{
            float: right;
            transform: translateX(-20%);
            .edit{
                border: 1px solid #4D44B5;
                width: 110px;
                height: 45px;
                border-radius: 40px;
                color: #4D44B5;
                font-family: Poppins;
                font-weight: 400;
                font-size: 18px;
                line-height: 27px;
            }
            .delete{
                background:#C41F28;
                width: 110px;
                height: 45px;
                font-family: Poppins;
                font-weight: 400;
                font-size: 18px;
                line-height: 27px;
                color: #FFFFFF;
                border-radius: 40px;
            }
        }
    }
  }
}
